.pai-info{
    display: flex;
}
.container-info{
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  rgb(242, 116, 5, 0.9);
    border: #dee2e6 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}
.foto{
    width: 550px;
    border-right: #9da6af 2px solid;
}
.info-zoom{
    display: flex;
    margin-top: 5px;
}
.info-zoom img{
    width: 20px;
    height: 20px;
    margin-right: 50px;
}
.info-zoom p{
    font-size: 14px;
    font-weight: bold;
    color: #9da6af;
}
.info-descri{
padding: 40px;
text-align: justify;

}
.info-descri h2{
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.info-descri p{
    color:  black;
    font-size: .9em;
}
.info-descri .descri{
    padding-bottom: 15px;
    border-bottom: #9da6af 2px solid;
}
.info-descri .dados{
    margin: auto;
    width: 90%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.info-descri .dados img{
    max-width: 34px;
    /* margin-right: 30px; */
}
.info-descri .dados p{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: #9da6af;
    font-weight: bold;
}
.mais-descri{
    width: 100%;
    padding: 50px;
    border-bottom: #9da6af 2px solid;
}
.mais-descri h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 29px;
    font-weight: bold;
}
.mais-descri p{
    color: #9da6af;
    font-weight: bold;
    letter-spacing: 1px;
}
.mais-descri h3{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mais-descri .all-descri{
    display: flex;
    justify-content: space-between;
}

.mais-descri .all-descri section{
    display: flex;
    width: auto;
    margin-bottom: 40px;
    
}
.mais-descri .all-descri img{
    width: 42px;
    box-shadow: none;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.mais-descri .all-descri h2{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: #9da6af;
}
.img-copo{
    border-radius: 0;
    height: 42px;
}
.mais-descri .all-descri p{
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-weight: 400;
}
.mais-descri .all-descri .right section{
    margin-right: 100px;
}

.cor-dourada{
    width: 106px !important;
}
.temp{
    height: 42px;
    width: 19px;
}
.amargor{
    width: 124px !important;
}
.harmonizacao h2{
    text-align: left;    
}
.harmonizacao .itens{
    display: flex;
}
.harmonizacao .itens div{
    margin-left: 30px;
}
.harmonizacao .itens img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 50px;
    border-radius: 30px;
}
.harmonizacao .itens p{
    text-align: center;
}
.coments{
    margin-top: 50px;
}
.coments .mdb-rating{
    width: auto;
    display: flex;
}
.coments .star .container{
    margin-bottom: 40px;
    display: flex;
}
.coments .star p{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #9da6af;
}
.coments a{
    color: #9da6af;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px;   
}
.avaliacao{
    text-align: center;
    margin-top: 50px;
}
.star .nota{
    display: flex;
}
.coments .star{
    display: flex;
    margin-bottom: 20px;
}
.avaliacao h2{
    text-transform: uppercase;
    color: #9da6af;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: auto;
    padding-top: auto;
    margin-right: 20px;
}
.avaliacao .pai-avaliacao{
    padding: 20px;
}
.avaliacao .pai-avaliacao .star{
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    border-bottom: #9da6af 1px solid;
    padding-bottom: 20px;
}
.avaliacao .pai-avaliacao .star .container{
    display: flex;
    width: 100% !important;
}
.avaliacao .pai-avaliacao .star .container p{
    margin-top: auto;
    margin-bottom: auto;
}
.avaliacao .pai-avaliacao .star .container h2{
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.avaliacao .pai-avaliacao .star select{
    height: 35px;
}
.user-comentarios{
    display: flex;
}
.comentarios{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 500px;
    border-bottom: #9da6af 1px solid;
    padding-bottom: 30px;
}
.comentarios h2{
    margin: 0;
    font-size: 20px;
    padding-left: 20px;
}
.comentarios p{
    text-align: justify;
    padding-left: 20px;
}
.comentarios .curtir{
    display: flex;
}
.comentarios .curtir p{
    font-weight: bold;
    color: #9da6af;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.comentarios .curtir button{
    height: 30px;
    background: transparent;
    border: #ffc700 2px solid;
    width: 80px;
    border-radius: 6px;
    transition: all 0.5s;
}
.comentarios .curtir button:hover{
    background: blueviolet;
    border: blueviolet 2px solid;
    color: white;
}
.divisao-coments{
    border-right: #9da6af 1px solid;
    padding-right: 50px;
    margin-top: 50px;
}
.fazer-coment{
    padding-top: 50px;
    padding-left: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.fazer-coment h1{
    font-size: 25px;
    color: #9da6af;
    font-weight: bold;
    margin-bottom: 30px;
}
.fazer-coment p{
    color: black;
    letter-spacing: 1px;
}
.fazer-coment textarea{
    margin-bottom: 30px;
}
.fazer-coment button{
    height: 40px;
    background: transparent;
    border: #ffc700 2px solid;
    width: 100px;
    border-radius: 6px;
    transition: all 0.5s;
}
.fazer-coment button:hover{
    background-color: #ffc700;
}

@media (max-width: 700px){
    .container-info{
        width: 100%;
        box-shadow: none;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-info .pai-info{
        display: block;
    }
    .container-info .pai-info .foto{
        width: 100%;
        border-right: none;
    }
    .container-info .pai-info .foto div{
        width: 100% !important;
    }
    .container-info .pai-info .info-descri{
        margin-top: 30px;
        padding: 0;
    }
    .container-info .pai-info .info-descri .dados{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .coments{
        width: 300px;
    }
    .coments a{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .star{
        width: 165px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .star ul{
        width: auto !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .mais-descri{
        width: 100%;
        padding: 0;
        margin-top: 30px;
        text-align: justify;
        padding-bottom: 40px;
    }
    .mais-descri .all-descri{
        display: block;
    }
    .mais-descri .all-descri .left section{
    justify-content: space-between;
    
    }
    .mais-descri .all-descri .right section{
    justify-content: space-between;
 
    margin-right: 0;
    }
    .mais-descri .all-descri .right section .amargor{
        width: 100px;
    }
    .avaliacao{
        width: 100%;
    }
    .avaliacao .pai-avaliacao{
        width: 100%;
        padding: 0;
    }
    .avaliacao .pai-avaliacao .star{
        display: block;
        height: auto;
    }
    .nota{
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        width: auto;
    }
    .nota ul{
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 164px !important;
    }
    .user-comentarios{
        display: block;
    }
    .divisao-coments{
        border-right: none;
        padding-right: 0;
    }
    .user-comentarios .divisao-coments .comentarios{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0 !important;
    }
    .user-comentarios .divisao-coments .comentarios h2{
        margin-bottom: 20px;
    }
    .user-comentarios .divisao-coments .comentarios ul{
        margin-bottom: 20px !important;
    }
    .fazer-coment{
        width: 100%;
        margin: 0;
        padding: 0;
    }


}






