.pai-info{
    display: flex;
}
.container-info{
    width: 100%;
    max-width: 1200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  rgb(242, 116, 5, 0.9);
    border: #dee2e6 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
}
.foto{
    width: 550px;
    border-right: #9da6af 2px solid;
}
.info-zoom{
    display: flex;
    margin-top: 5px;
}
.info-zoom img{
    width: 20px;
    height: 20px;
    margin-right: 50px;
}
.info-zoom p{
    font-size: 14px;
    font-weight: bold;
    color: #9da6af;
}
.info-descri{
padding: 40px;
text-align: justify;

}
.info-descri h2{
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.info-descri p{
    color:  black;
    font-size: .9em;
}
.info-descri .descri{
    padding-bottom: 15px;
    border-bottom: #9da6af 2px solid;
}
.info-descri .dados{
    margin: auto;
    width: 90%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.info-descri .dados img{
    max-width: 34px;
    /* margin-right: 30px; */
}
.info-descri .dados p{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
    color: #9da6af;
    font-weight: bold;
}
.mais-descri{
    width: 100%;
    padding: 50px;
}
.mais-descri h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 29px;
    font-weight: bold;
}
.mais-descri p{
    color: #9da6af;
    font-weight: bold;
    letter-spacing: 1px;
}
.mais-descri h3{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.mais-descri .all-descri{
    display: flex;
    justify-content: space-between;
}

.mais-descri .all-descri section{
    display: flex;
    width: auto;
    margin-bottom: 40px;
    
}
.mais-descri .all-descri img{
    width: 42px;
    box-shadow: none;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.mais-descri .all-descri h2{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    color: #9da6af;
}
.img-copo{
    border-radius: 0;
    height: 42px;
}
.mais-descri .all-descri p{
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-weight: 400;
}
.mais-descri .all-descri .right section{
    margin-right: 100px;
}

.cor-dourada{
    width: 106px !important;
}
.temp{
    height: 42px;
    width: 19px;
}
.amargor{
    width: 124px !important;
}
.harmonizacao h2{
    text-align: left;    
}
.harmonizacao .itens{
    display: flex;
}
.harmonizacao .itens div{
    margin-left: 30px;
}
.harmonizacao .itens img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 50px;
    border-radius: 30px;
}
.harmonizacao .itens p{
    text-align: center;
}



