*{
    margin: 0;
    padding: 0;
}
#invertImg{
    width: 100px;
    margin-left: 40px;
}

.form-inline input{
    margin-left: 100px !important;
}

.form-inline input{
    height: 35px;
}
.form-inline button{
    height: 30px;
    width: 110px;
    padding: 0 !important;
    border: #ffc700 2px solid !important;
    color: #ffc700 !important;
    margin-right: 50px;
}
html{
    max-width: 100%;
}
body{
    background-color: #ffc700;
}
nav{
    background-color: #1e1e1e;
    padding-top: 0;
    padding-bottom: 0;
    
}
.nav p{
    font-size: 20px;
    color: white;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.teste{
    margin: 0;
    padding: 0;
    background-color: #ffc700;
    height: 70px;
    color: #1e1e1e;
}
.nav{
    height: 60px;
    padding: 0;
    margin: 0;
}
.nav .active{
    color: #1e1e1e;
}
.nav-itens{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav .row{
    justify-content: space-around;
}
.nav form{
    height: 100%;
}
.nav-login{
    display: flex;
    height: 100%;
    margin-right: 10vw;
    margin-left: 10vw;
}
.nav-login img{
    margin-top: auto;
    margin-bottom: auto;
    max-height: 50px;
}
.nav-link:hover{
    background-color: #ffc700;
    color: white;
}
.nav .btn-style{
    border: #ffc700 1px solid;
    color: white;
}
.nav .btn-style:hover{
    background-color: #ffc700;
    color: black;
}
.nav .form-control:focus{
    box-shadow:0 0 0 .2rem rgb(255, 199, 0, 0.4)
}
.nav-login h5{
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 5px;
    transition: all 0.5s;
}
.nav-login a:hover{
    background-color: #ffc700;
    color: black;
    height: 70px;
    text-transform: uppercase;
}
@media (max-width: 700px){
    .teste{
        background-color: transparent;
        color: #ffc700 !important;
        text-decoration: underline;
    }
    .navbar-collapse{
        background-color: #1e1e1e;
        width: 100%;
        padding: 20px;
        z-index: 1;
    }
}

